img {
    display: block;
    height: auto;
}

body {
    width: 375px;
    margin: 0 15px;
}

/*--------Header--------*/

.header {
    margin: 15px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #808080;
    margin-bottom: 18px;
}

.header__nav {
    display: flex;
}

.header__nav--list {
    display: flex;
}

.header__nav--item {
    margin-right: 20px;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__search img {
    width: 20px;
}

.header__search--catalog {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

.header__search--catalog p {
    font-size: 14px;
    font-weight: bold;
    color: #4798DE;
    margin-left: 7px;
}

.header__search--input {
    position: relative;
    display: flex;
    width: 180px;
    height: 30px;
}

input[type="text"] {
    width: 100%;
    padding: 5px 20px 5px 5px;
    border: 1px solid #808080;
    background-color: transparent;
    font-size: 10px;
}

.header__search--btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

/*------Hero----------*/

.hero {
    margin-bottom: 60px;
}

.hero-wrapper {
    position: relative;
    display: flex;
}

.hero__btn--nav-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 350px;
    background-color: rgba(241, 242, 246, 0.3);
    border: none;
    cursor: pointer;

    padding: 0;
}

.hero__btn--nav-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: rgba(241, 242, 246, 0.3);
    border: none;
    cursor: pointer;

    padding: 0;
    z-index: 1;
}

.hero__stock {
    position: absolute;
    background-color: rgba(241, 242, 246, 0.8);
    height: 100%;
    width: 142px;
    right: 0;

}

.hero__stock--text {
    position: absolute;
    top: 28px;
    right: 15px;
    font-size: 12px;
    font-weight: bold;
    color: grey;
    margin-left: 5px;
}

.hero__stock--sale {
    position: absolute;
    top: 56px;
    right: 70px;
    font-size: 20px;
    font-weight: bold;
    color: #6CDB7E;
}

.hero__stock--btn {
    position: absolute;
    top: 103px;
    right: 37px;
    padding: 10px 15px;
    background-color: #4798DE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero__pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.hero__pagination button:not(:last-child) {
    margin-right: 5px;
}

/*-------Stocks---------*/

.stocks__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.stocks__title p{
    font-size: 18px;
    font-weight: bold;
}

.stocks__title--text{
    position: relative;

}

.stocks__title--text::after{
    content: 'Stocks';
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    color: lightgray;
    top: -25px;
    right: -125px;
    z-index: -1;
}

.stocks__title a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

.stocks {
    overflow-x: hidden;
}

.stocks__list {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-color: #ccc transparent;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.stocks__item {
    flex: 0 0 auto;
    width: 220px;
    position: relative;
}

.stocks__item img {
    width: 100%;
    height: auto;
}

.stocks__navigation {
    align-items: center;
    display: flex;
    justify-content: center;
}

.stocks__navigation--btn-left {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.stocks__navigation--btn-right {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.stocks__navigation button {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 60px;
}

/*-------Categories---------*/

.category {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;

    position: relative;
}

.category::after {
    content: 'Categories';
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    color: lightgray;
    top: -25px;
    right: 80px;
    z-index: -1;
}

.category__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;


    margin-bottom: 60px;
}

.category__item {
    position: relative;
    width: calc(50% - 10px);
    height: 146px; /* Высота картинок */
    text-align: center;
    border-radius: 5px;
    background-color: lightgray;
}

.category__item:hover {
    box-shadow: 4px 4px 4px rgba(0, 123, 255, 0.5);
    transition: box-shadow 0.3s ease;
}

.category__item img {
    object-fit: contain;
    background-color: transparent;
    display: block;
    margin: 10px auto 0;
    max-width: 100%; 
    height: auto;
}

.category__name {
    position: absolute;
    width: 100%;
    bottom: 5px;
    right: 0;
    font-size: 16px;
    color: blue;
    margin-top: 10px;
}

/*-------Bestsellers---------*/

.bestsellers__hit {
    position: relative;

    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}

.bestsellers__hit::after {
    content: 'Bestsellers';
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    color: lightgray;
    top: -15px;
    right: 95px;
    z-index: -1;
}

.bestsellers-list {
    display: flex;
}

.bestsellers-item {
    position: relative;
    width: calc(50% - 10px);
    margin-bottom: 25px;

    border: 1px solid lightgray;
    border-radius: 5px;
}

.bestsellers-item:not(:last-child) {
    margin-right: 20px;
}

.bestsellers-item:hover {
    box-shadow: 4px 4px 4px rgba(0, 123, 255, 0.5);
    transition: box-shadow 0.3s ease;
}

.bestsellers-item img {
    margin-bottom: 15px;
}

.green {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: #6CDB7E;
    border-radius: 5px;
}

.blue {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: lightblue;
    border-radius: 5px;
}

.bestsellers-name {
    font-size: 14px;
    font-weight: bold;
    color: grey;
    margin-left: 15px;
    margin-bottom: 10px;
}

.bestsellers-brand, .bestsellers-country {
    font-size: 12px;
    color: grey;
    margin-left: 15px;
    margin-bottom: 7px;
}

.bestsellers-inStock {
    display: flex;
    font-size: 12px;
    color: blue;
    margin-left: 15px;
    margin-bottom: 5px;
}

.bestsellers-inStock img {
    margin-left: 5px;
}

.bestseller-price__list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-left: 15px;
}

.bestseller-price__value {
    font-size: 18px;
    font-weight: bold;
}

.bestseller-price__btn {
    margin-bottom: 15px;
    margin-left: 45px;
    padding: 5px 10px;
    background-color: #4798DE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bestsellers__navigation {
    align-items: center;
    display: flex;
    justify-content: center;
}

.bestsellers__navigation button {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 60px;
}

/*-------About---------*/

.about {
    background-image: url(./img/about_fone.jpg);
    margin-bottom: 60px;
}

.about__title {
    font-family: Georgia, sans-serif;
    font-size: 18px;
    line-height: 1.34;
    margin-bottom: 50px;
    color: #15244F;
}

.about__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.about__item:first-child {
    display: flex;
    align-items: flex-end;
}

.about__item:nth-child(2) {
    display: flex;
    align-items: flex-end;
}

.about__item {
    width: calc(50% - 10px);

}

.about__brands {
    position: relative;
    font-family: sans, sans-serif;
    font-size: 14px;
    color: grey;
}

.about__brands::after {
    content: '30';
    font-size: 45px;
    position: absolute;
    color: Green;
    top: -45px;
    left: 0;
}

.about__naming {
    position: relative;
    font-family: sans, sans-serif;
    font-size: 14px;
    color: grey;
}

.about__naming::after {
    content: '2K';
    font-size: 45px;
    position: absolute;
    color: Green;
    top: -45px;
    left: 0;
}

.about__item--name {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: sans, sans-serif;
}

.about__item--name img {
    margin-left: 5px;
}

.about__item--title {
    font-size: 14px;
    font-weight: bold;
    color: grey;
    margin-bottom: 10px;
}

/*----------New items ---------*/

.new__hit {
    position: relative;

    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}

.new__hit::after {
    content: 'New Items';
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    color: lightgray;
    top: -15px;
    right: 95px;
    z-index: -1;
}

.new-list {
    display: flex;
}

.new-item {
    position: relative;
    width: calc(50% - 10px);
    margin-bottom: 25px;

    border: 1px solid lightgray;
    border-radius: 5px;
}

.new-item:not(:last-child) {
    margin-right: 20px;
}

.new-item:hover {
    box-shadow: 4px 4px 4px rgba(0, 123, 255, 0.5);
    transition: box-shadow 0.3s ease;
}

.new-item img {
    margin-bottom: 15px;
}

.green {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: #6CDB7E;
    border-radius: 5px;
}

.blue {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: lightblue;
    border-radius: 5px;
}

.new-name {
    font-size: 14px;
    font-weight: bold;
    color: grey;
    margin-left: 15px;
    margin-bottom: 10px;
}

.new-brand, .new-country {
    font-size: 12px;
    color: grey;
    margin-left: 15px;
    margin-bottom: 7px;
}

.new-inStock {
    display: flex;
    font-size: 12px;
    color: blue;
    margin-left: 15px;
    margin-bottom: 5px;
}

.new-inStock img {
    margin-left: 5px;
}

.new-price__list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-left: 15px;
}

.new-price__value {
    font-size: 18px;
    font-weight: bold;
}

.new-price__btn {
    margin-bottom: 15px;
    margin-left: 45px;
    padding: 5px 10px;
    background-color: #4798DE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new__navigation {
    align-items: center;
    display: flex;
    justify-content: center;
}

.new__navigation button {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 60px;
}

/*----------Conditions ---------*/

.conditions {
    margin-bottom: 60px;
}

.conditions-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.conditions__navigation {
    align-items: center;
    display: flex;
    justify-content: center;
}

.conditions__navigation button {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 60px;
}

/*----------Discounts ---------*/

.discounts__hit {
    position: relative;

    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}

.discounts__hit::after {
    content: 'Discounts';
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    color: lightgray;
    top: -15px;
    right: 125px;
    z-index: -1;
}

.discounts-list {
    display: flex;
}

.discounts-item {
    position: relative;
    width: calc(50% - 10px);
    margin-bottom: 25px;

    border: 1px solid lightgray;
    border-radius: 5px;
}

.discounts-item:not(:last-child) {
    margin-right: 20px;
}

.discounts-item:hover {
    box-shadow: 4px 4px 4px rgba(0, 123, 255, 0.5);
    transition: box-shadow 0.3s ease;
}

.discounts-item img {
    margin-bottom: 15px;
}

.green {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: #6CDB7E;
    border-radius: 5px;
}

.blue {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: lightblue;
    border-radius: 5px;
}

.discounts-name {
    font-size: 14px;
    font-weight: bold;
    color: grey;
    margin-left: 15px;
    margin-bottom: 10px;
}

.discounts-brand, .discounts-country {
    font-size: 12px;
    color: grey;
    margin-left: 15px;
    margin-bottom: 7px;
}

.discounts-inStock {
    display: flex;
    font-size: 12px;
    color: blue;
    margin-left: 15px;
    margin-bottom: 5px;
}

.discounts-inStock img {
    margin-left: 5px;
}

.discounts-price__list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-left: 15px;
}

.discounts-price__value {
    font-size: 18px;
    font-weight: bold;
}

.discounts-price__btn {
    margin-bottom: 15px;
    margin-left: 45px;
    padding: 5px 10px;
    background-color: #4798DE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.discounts__navigation {
    align-items: center;
    display: flex;
    justify-content: center;
}

.discounts__navigation button {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 60px;
}

/*----------Info ---------*/

.info {
    overflow-x: hidden;
}

.info__list {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-color: #ccc transparent;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.info__item {
    flex: 0 0 auto;
    width: 220px;
    position: relative;
}

.info__item img {
    width: 100%;
    height: auto;
}

.info__navigation {
    align-items: center;
    display: flex;
    justify-content: center;
}

.info__navigation button {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 60px;
}

/*----------Events ---------*/

.events {

    margin-bottom: 30px;
}

.events__title {
    position: relative;

    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}

.events__title::after {
    display: inline;
    white-space: nowrap;
    content: 'News and Events';
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    color: lightgray;
    top: -15px;
    right: 20px;
    z-index: -1;
}

.events__wrapper {
    display: flex;
    margin-bottom: 60px;
}

.block {
    flex: 1;
    margin-right: 20px;
}

.events__chapter img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.events__btn {
    padding: 10px 15px;
    background-color: #4798DE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.events__article--title {
    font-family: sans, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.events__article--text {
    font-family: sans, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    color: grey;
}

.events__navigation {
    align-items: center;
    display: flex;
    justify-content: center;
}

.events__navigation button {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 60px;
}

/*---------- Footer ---------*/

.footer {
    width: calc(100vw + 15px);
    margin-left: -15px;
    background-color: lightgrey;
}

.footer__info {
    margin-left: 15px;
}

.footer__logo {
    background-color: transparent;
    margin-bottom: 30px;
}

.footer__social--wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.social__about {
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    gap: 15px;

    margin-right: 35px;
}

.footer__social--title {
    font-size: 12px;
    margin-bottom: 5px;
}

.footer__social--list, .footer__pay--list {
    display: flex;
}

.footer__social--item:not(:last-child), .footer__pay--item:not(:last-child) {
    margin-right: 10px;
}

.footer__social--item {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.footer__pay--title {
    font-size: 12px;
    margin-bottom: 10px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__contacts--item {
    display: flex;
    margin-bottom: 15px;
}

.footer__contacts--item img {
    margin-right: 10px;
}

.footer__contacts--item a {
    font-size: 12px;
    color: grey;
    text-decoration: none;
}