body {
    width: 375px;
    margin-left: 15px;
    margin-right: 15px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header__nav {
    display: flex;
}

.header__nav--list {
    display: flex;
    align-content: baseline;
    align-items: center;
}
.header__logo {
    width: 200px;
    height: auto;
}

.header__nav--list li {
    margin-right: 20px;
}

.header__search {
    display: flex;
}

.header__search--catalog {
    display: flex;
}